<h2>タスク編集</h2>  

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <strong><%= form.label :title %></strong>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <strong><%= form.label :content %></strong>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <strong><%= form.label :deadline %></strong>
    <p><%= form.datetime_select :deadline %> </p>
  </div>

  <div class="form-group">
    <strong><%= form.label :status %></strong>
    <%= form.radio_button :status, :未対応, value:0 %>
    <%= form.label :未対応 %>
    <%= form.radio_button :status, :対応中, value:1 %>
    <%= form.label :対応中 %>
    <%= form.radio_button :status, :完了, value:2 %>
    <%= form.label :完了 %>
  </div>

  <div class="actions">
    <%= form.submit "更新する", class: "btn btn-lg, btn-success" %>
    <%= link_to '一覧に戻る', tasks_path, class: "btn btn-lg, btn-light" %>
  </div>
<% end %>
