<% if notice%>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% else %>
  <br>
<% end %>

<div class="jumbotron">
    <h2><%= @task.title %></h2>
  <div>
    <b>内容:</b>
    <%= @task.content %>
  </div>
  <div>
    <b>期限:</b>
    <%= @task.deadline.strftime('%Y/%m/%d - %H:%M') %>
  </div>
  <div>
    <b>担当者:</b>
      担当者：<%= @task.user.name %> <%= image_tag @task.user.icon.variant(resize: "30x30"), class: "rounded-circle" if @task.user.icon.attached?%>
  </div>
  <div>
    <b>ステータス:</b>
    <%= @task.status %>
  </div>
  <%= link_to '戻る', tasks_path, class: 'btn btn-outline-dark' %>
  <% if current_user.id == @task.user_id %>
    <%= link_to '編集', edit_task_path(@task), class: 'btn btn-info' %>  
    <%= link_to 'アサイン', "/tasks/#{@task.id}/assign", class: 'btn btn-success' %> 
  <% end %>  
</div>